---
layout: default
---

<div class="collection__wrapper">
   <div class="container">

			<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">{{ page.title }}</h2>
						<p><span class="post-date">{{ page.date | date_to_string }}</span></p>
        </div>
      </div>

      <div>
				{{ content }}
        <br>
				<hr />
				<p align="center"><a href="{{ site.url }}/index.html"><strong>Return to Main Page</strong></p>
				<hr />
        <br>
      </div>

   </div>
</div>
